<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/user/dashboard">User Dashboard</a></li>
        </ul>
    </nav>
</header>